@import "../../node_modules/beercss/dist/cdn/beer.min.css";
@import "../../node_modules/@mdi/font/css/materialdesignicons.css";

:root,
body.dark {
  --primary: #ffb2be;
  --on-primary: #660025;
  --primary-container: #900038;
  --on-primary-container: #ffd9de;
  --secondary: #e5bdc2;
  --on-secondary: #43292d;
  --secondary-container: #5c3f43;
  --on-secondary-container: #ffd9de;
  --tertiary: #ebbf90;
  --on-tertiary: #452b08;
  --tertiary-container: #5f411c;
  --on-tertiary-container: #ffddba;
  --error: #ffb4ab;
  --on-error: #690005;
  --error-container: #93000a;
  --on-error-container: #ffb4ab;
  --background: #201a1b;
  --on-background: #ece0e0;
  --surface: #201a1b;
  --on-surface: #ece0e0;
  --surface-variant: #524345;
  --on-surface-variant: #d6c2c3;
  --outline: #9f8c8e;
  --outline-variant: #524345;
  --scrim: #000000;
  --inverse-surface: #ece0e0;
  --inverse-on-surface: #362f2f;
  --inverse-primary: #bc004b;

  background-color: var(--surface);
}

.border-top {
  border-top: 1px solid !important;
  border-color: #ffb2be14 !important;
}

.border-right {
  border-right: 1px solid !important;
  border-color: #ffb2be14 !important;
}