---
import SiteLayout from "../layouts/SiteLayout.astro";
import Card from "../components/Card.astro";
const posts = await Astro.glob('../pages/posts/*.md')

---
<SiteLayout title="Blog">
  <main class="responsive page left active">
    <div class="large-space"></div>

    <h2>Blog</h2>
    <div class="space"></div>

    <div class="grid">
      {
        posts.map((post) =>
          <div class="s12 m6 l4">
            <Card
              label={post.frontmatter.title}
              description={post.frontmatter.description}
              url={post.url}
            />
          </div>
        )
      }
    </div>
  </main>
</SiteLayout>
