---
import SiteLayout from "../layouts/SiteLayout.astro"
import Card from "../components/Card.astro"

import ieseuropaImage from "../assets/portfolio/ieseuropa.png"
import perfectBeautyImage from "../assets/portfolio/perfectbeauty.png"
import somacodeBooksImage from "../assets/portfolio/somacode-books.png"

let posts = await Astro.glob('../pages/posts/*.md')
posts = posts.slice(0, 3)

function getLogoUrl(title: string, format: "ar21" | "icon" = "ar21") {
  return `https://www.vectorlogo.zone/logos/${title}/${title}-${format}.svg`
}

const technologies = [
  { label: "Node", name: "nodejs" },
  { label: "Typescript", name: "typescriptlang" },
  { label: "VueJs", name: "vuejs" },
  { label: "Angular", name: "angular" },
  { label: "Ionic", name: "ionicframework" },
  { label: "NestJs", name: "nestjs" },
  { label: "Java", name: "java" },
  { label: "Kotlin", name: "kotlinlang" },
  { label: "Spring Boot", name: "springio" },
  { label: "MySQL", name: "mysql" },
  { label: "PostgreSQL", name: "postgresql" },
  { label: "MongoDB", name: "mongodb" },
  { label: "Linux", name: "linux" },
  { label: "Fedora", name: "getfedora" },
  { label: "Docker", name: "docker" },
  { label: "Git", name: "git-scm" },
  { label: "Gitlab", name: "gitlab" },
  { label: "Github", name: "github" },
]

const portfolio = [
  { name: "Perfect Beauty", image: perfectBeautyImage, url: "https://web.mobiledigitalsales.org"},
  { name: "IES Europa", image: ieseuropaImage, url: "https://ieseuropa.es"},
  { name: "Somacode books", image: somacodeBooksImage, url: "https://books.somacode.app"},
]
---

<SiteLayout title="Silvio Franco">
  <main class="responsive max medium-line">
    <div class="large-space"></div>

    <div class="grid">
      <div class="s12 m12 l6">
        <article class="no-elevate" style="height:100%; display: flex; align-items: center;">
          <div style="height: fit-content;">
            <h1 class="bold page top active">Silvio Franco</h1>

            <h6>
              I'm a Venezuelan fullstack developer based in Murcia, Spain,
              passionate about creating digital solutions.
            </h6>

            <div class="medium-space"></div>

            <a style="width: 220px;" class="button responsive large no-margin" href="/blog">
              <span>See blog</span>
              <i class="small">arrow_forward</i>
            </a>
          </div>
        </article>
      </div>

      <div class="s12 m12 l6">
        <img
          style="width: 100%"
          src="https://relay.material.io/home-hero-alt.png"
          alt="cover"
        />
      </div>

      <div class="s12 m12 l12"></div>
    </div>

    <div class="large-space"></div>

    <main class="responsive page left active">
      <h2 id="blog">Blog</h2>
      <div class="space"></div>

      <div class="grid">
        {posts.map(post => 
          <div class="s12 m6 l4">
            <Card label={post.frontmatter.title}
                  description={post.frontmatter.description}
                  url={post.url}/> 
          </div>
        )}
      </div>
      
      <div class="space"></div>
      <a href="/blog" class="link">See more</a>

      <div class="large-space"></div>
      <div class="large-space"></div>

      <h2 id="technologies">Technologies</h2>
      <div class="space"></div>

      <div class="grid">
        {technologies.map(technology =>
          <div class="s6 m4 l2">
            <a class="wave round warp">
              <article class="no-elevate primary">
                <img src={getLogoUrl(technology.name)} alt={technology.label}>
              </article>
            </a>
          </div>
        )}
      </div>

      <div class="large-space"></div>
      <div class="large-space"></div>

      <h2 id="portfolio">Portfolio</h2>
      <div class="space"></div>

      <div class="grid">
        {portfolio.map(project => 
          <div class="s12 m6 l4">
            <Card label={project.name} image={project.image} url={project.url} target="_blank"/> 
          </div>
        )}
      </div>

      <div class="large-space"></div>
      <div class="large-space"></div>

      <h2 id="contact-me">Contact me</h2>
      <div class="space"></div>

      <div class="grid">
        <div class="s12">
          <article class="no-elevate on-primary">
            <form>
              <div class="field label fill">
                <input type="text">
                <label>Name</label>
              </div>
              <div class="field label fill">
                <input type="text">
                <label>Email</label>
              </div>
              <div class="field label fill">
                <input type="text">
                <label>Company Name</label>
              </div>
              <div class="field label fill">
                <input type="text">
                <label>Phone Number</label>
              </div>
              <button class="border small-round no-margin">Send</button>
            </form>
          </article>
          </div>
      </div>
    </main>
  </main>
</SiteLayout>
