---
import { Image } from "astro:assets"
import cardBackgroundImage from "../assets/card-background.png"

const { 
  label,
  description,
  image = cardBackgroundImage,
  url,
  target = ""
} = Astro.props;
---
<a class="wave round wrap border" href={url} target={target}>
  <article class="round no-elevate no-padding">
    <Image
      class="responsive medium"
      src={image}
      alt={label}
    />
    <div class="large-padding">
      <h6>{label}</h6>
      <p>{description}</p>
    </div>
  </article>
</a>
