---
const menu = [
  { label: "Home", icon: "home", url: "/" },
  { label: "Blog", icon: "pages", url: "#blog" },
  { label: "Technologies", icon: "code", url: "#technologies" },
  { label: "Portfolio", icon: "work", url: "#portfolio"},
  { label: "Contact me", icon: "emoji_people", url: "#contact-me" },
]
---
<nav class="left l border-right">
    {menu.map((item) => 
      <a href={item.url}>
        <i>{item.icon}</i>
        <span class="small-text">{item.label}</span>
      </a>
    )}
</nav>
<!-- TODO: this is duplicated code -->
<nav class="bottom s m light border-top">
    {menu.map((item) => 
      <a href={item.url}>
        <i>{item.icon}</i>
        <span class="small-text">{item.label}</span>
      </a>
    )}
</nav>
