---
import SiteLayout from "./SiteLayout.astro";
const {frontmatter} = Astro.props
---
<SiteLayout title={frontmatter.title}>
  <main class="responsive max medium-line">
    <h1>{frontmatter.title}</h1>
    <h2>Post author: {frontmatter.author}</h2>
    <p>{frontmatter.description}</p>
    <slot />
  </main>
</SiteLayout>
