---
import "../styles/global.scss"
import Navigation from "../components/Navigation.astro"
const { title } = Astro.props
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="dark">
		<Navigation/>
	    <slot/>
	</body>
</html>
